<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841866552463-hm9npl1dr6tnope5to82pt7758ufd8t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841866552463-hm9npl1dr6tnope5to82pt7758ufd8t4</string>
	<key>API_KEY</key>
	<string>AIzaSyASk3-G0R2UwxfnACjwP1Mm_9typj4i12g</string>
	<key>GCM_SENDER_ID</key>
	<string>841866552463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-5c1e7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-5c1e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841866552463:ios:5e2c1390fbf0c9561c7cfa</string>
</dict>
</plist>